h1{
  font-size: 2rem;
}



#movies img,
#movie img {
  width: 100%;
}
.navbar-header{
  width:200px;

  padding-top: 0%;
  padding-bottom: 0%;
}
body{
  background: linear-gradient(to right, #833ab4 10%, #fd1d1d 30%, #fcb045 100%);
}
@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
  
  @media screen and (max-width:768px)
  {
    .nav.navbar-header-nav.pull-right { float:none !important; }
  }

}
